.logoImage {
  width: 150px;      
  height: auto;    
  margin-left: 240px;
  transition: all 0.3s ease; 
  padding: 5px;        


  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }
}
.login{
  width: 100px;      
  height: 40px;    
  margin-top: 10px;
  transition: all 0.3s ease; 
  padding: 5px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  background-color: #eff1f7;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  &:hover {
    color: #eff1f7;
    background-color: #72a1fd;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }   
}