.services {
  padding: 20px;
  text-align: center;
}

.services h1{
   opacity: 0;
   animation-duration: 1s;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
  animation-name: fadeInUp;
  color:#0a1653;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
}
.subtext{
    animation-name: fadeInUp; 
    animation-delay: 0.5s;
    color: #99a0aec3;
    font-size: 25px;
    text-align: center;
    margin-top: -5px;
    padding-bottom: 25px;
}
.service-card {
  width: 320px !important;
  height: 250px;
  background-color: #e3e8f1fd;
  border-radius: 15px; 
  margin: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  height: 400px;
  .card-text {
      visibility: visible; 
  }
  .learnmore{
      visibility: visible; 
  }
}

.service-card img {
    background-color: rgba(255, 255, 255, 0);
    width: 170px;
    height:150px;
    margin: 0 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  padding: 20px; 
  margin-bottom: 10px;
}

.card-text {
  visibility: hidden; 
  font-size: 18px;
  font-weight: 500;
  color: #888585;
  line-height: 1.6;
}


.learnmore{
  visibility: hidden; 
  width:120px;
  height:35px;
  color:#007bff;
  font-size: 15px;
  font-weight: 500;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #b1acac;&:hover {
    color: #eff1f7;
    background-color: #72a1fd;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }  
}
.row {
  margin-bottom: 20px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px); /* بداية النص من الأسفل */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* النص يصبح في مكانه الطبيعي */
  }
}